* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.clearfix::after {
   content: '';
   display: table;
   clear: both;
}

body {
   font-family: 'Whitney', 'Helvetica Neue', 'Helvetica', 'Arial, sans-serif';
}
/* Section Header  */

header {
   color: white;
}

/* Header top  */

.header-top {
   background-color: rgb(59,97,219);
   height: 70px;
}

.container {
   margin: auto;
   width: 1000px;
   height: 100%;
}

#logo, .login, .central {
   float: left;
   height: 70px;
   line-height: 70px;
}

#logo, .login {
   width: 20%;

}

#logo img {
   vertical-align: middle;
}

.central {
   width: 60%;
   text-align: center;
   line-height: 70px;
}


.navigation li{
   display: inline-block;
   margin: 0 10px;
}

.navigation li a {
   text-decoration: none;
   color: white;
   font-family: sans-serif;
}
.navigation li a:hover {
   text-decoration: underline;
}



.login {
   text-align: right;
   line-height: 70px;
}

.button-small a {
   text-decoration: none;
   background-color: white;
   padding: 10px 15px;
   border-radius: 20px;
   color: black;
}


/* Header Bottom  */

.header-bottom {
   background-image: url('..//img/jumbo.png');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 500px;
   position: relative;
}

.title-header {
   text-align: center;
   width: 50%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.title-header p {
   margin-bottom: 30px;
   line-height: 30px;
}

.title-header h1 {
   margin-bottom: 40px;
   font-size: 50px;
}

.button-big {
   display: inline-block;
   border-radius: 30px;
   margin: 0 20px;
}

.button-big a {
   display: inline-block;
   text-decoration: none;
   padding: 15px 25px;
   border-radius: 30px;
}
.button-big a:hover {
   transform: scale(1.1);
}

.button-big.btn-light a{
   background-color: white;
   color: black;
}
.button-big.btn-dark a {
   background-color: black;
   color: white;
}


/* Rule Main  */


/* Section with img left  */

.img-left {
   height: 600px;
   margin-top: 100px;
}
.immage-left {
   float: left;
   width: 65%;
   height: 100%;
   padding-left: 40px;
}
.immage-left img {
   width: 80%;
}
.text-right {
   width: 35%;
   float: left;
   padding: 20px 20px 0 15px;
}

.text-right h2 {
   font-size: 40px;
   margin-bottom: 30px;
}
.text-right p {
   line-height: 25px;
}



/* Section with img right  */

.img-right {
   /* background-image: url('..//img/wave.svg'), linear-gradient(rgb(233, 229, 229), lightpink); */
   height: 600px;
   margin-top: 100px;
}

.immage-right{
   float: left;
   width: 65%;
   height: 100%;
   padding-left: 100px;
}
.immage-right img {
   width: 95%;
}

.text-left {
   width: 35%;
   float: left;
   padding: 20px 20px 0 15px;
}
.text-left h2 {
   font-size: 40px;
   margin-bottom: 30px;
}


/* Section with img center  */

.center {
   margin-bottom: 80px;
}
.text-center {
   width: 100%;
   text-align: center;
}
.text-center h2 {
   font-size: 40px;
   margin-bottom: 20px;
}
.text-center p {
   line-height: 25px;
}



.main-footer {
   position: relative;
   text-align: center;
   height: 100px;
}
.main-footer h3 {
   font-size: 25px;
}
.question {
   position: absolute;
   top: o;
   left: 50%;
   transform: translateX(-50%);
   background-image: url('../img/stars.svg');
   background-position: center;
   background-size: contain;
   background-repeat: repeat;
   height: 50px;
   width: 50%;
}

.btn-purple {
   background-color: rgb(145,161,222);
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   border-radius: 30px;
}
.btn-purple a {
   color: white;
   display: inline-block;
   text-decoration: none;
   padding: 15px 25px;

}